.gradle/8.14/gc.properties
.gradle/8.14/checksums/checksums.lock
.gradle/8.14/checksums/md5-checksums.bin
.gradle/8.14/checksums/sha1-checksums.bin
.gradle/8.14/fileChanges/last-build.bin
.gradle/8.14/fileHashes/fileHashes.bin
.gradle/8.14/fileHashes/fileHashes.lock
.gradle/8.8/gc.properties
.gradle/8.8/checksums/checksums.lock
.gradle/8.8/checksums/md5-checksums.bin
.gradle/8.8/checksums/sha1-checksums.bin
.gradle/8.8/dependencies-accessors/gc.properties
.gradle/8.8/fileChanges/last-build.bin
.gradle/8.8/fileHashes/fileHashes.bin
.gradle/8.8/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/vcs-1/gc.properties
build/reports/problems/problems-report.html
